{% extends 'base.html' %}
{% block content %}
<br>
    <h1>{% block title %} Algosigner {% endblock %}</h1>
    <br>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        const txn = {{ nft|tojson }};
        AlgoSigner.connect();
        const server = 'https://testnet-algorand.api.purestake.io/ps2'
        const token = { 'X-API-Key': 'hX5WEmJCdA8dS7wgsxZ57aBbUSzz8K0O5TPLrgVn' }
        const port = '';
        algodClient = new algosdk.Algodv2(token, server, port);
        const txn_b64 = AlgoSigner.encoding.msgpackToBase64(txn.toByte());
        signedTxs= AlgoSigner.signTxn([{txn: txn_b64}]);
        tx=AlgoSigner.send({
        ledger: 'TestNet',
         tx: signedTxs[0].blob});
        const transaction = AlgoSigner.algod({
  ledger: 'TestNet',
  path: '/v2/transactions/pending/' + tx.txId
})
        const txId = tx.txId
        const trainee_name = {{ trainee_name|tojson }};
        const public_key = {{ public_key|tojson }};
        const unit_name = {{ unit_name|tojson }};
        const asset_name = {{ asset_name|tojson }};
        const status = 'None';
        const asset_id = transaction["asset-index"]
        const dict_values = {asset_id,txId, trainee_name,public_key,unit_name,asset_name,status}
        const s = JSON.stringify(dict_values);
        $.ajax({
            url:"/store_asset",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(s)});

    </script>
{% endblock %}