{% extends 'base.html' %}
{% block content %}
<br>
    <h1>{% block title %} Trainee Requests {% endblock %}</h1>
    <br>
    <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">TxID</th>
                  <th scope="col">Trainee Name</th>
                  <th scope="col">Unit Name</th>
                  <th scope="col">Asset Name</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {%for each in data%}
                <tr>
                  <th scope="row">1</th>
                  <td>{{each.txId}}</td>
                  <td>{{each.trainee_name}}</td>
                  <td>{{each.unit_name}}</td>
                  <td>{{each.asset_name}}</td>
                  <td>{{each.status}}</td>
                  <td>
                    <form method="post" action="/transfer_asset">
                        <input type="hidden" id="txId" name="txId" value={{each.txId}}>
                        <input type="hidden" id="public_key" name="public_key" value={{each.public_key}}>
                        <input type="submit" value="approved" name="action1"/>
                        <input type="submit" value="declined" name="action2" />
                    </form>
                  </td>
                </tr>
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
{% endblock %}